@charset "utf-8";
/*==========================1 样式重置=================================*/
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0); -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
    outline-style: none;
    color:#555;
}
html,body{
  height:100%;
}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl,li{list-style:none}
html,body{*position:static}
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline-width:0}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline-width:0}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto; -webkit-appearance: none !important;margin: 0;-moz-appearance:textfield}
input[type="search"] {-webkit-appearance: textfield; /* 1 */}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
button, input[type="button"], input[type="submit"] {line-height: normal}
@media ( max-width : 767px) {
  html{overflow-y:auto}
}
table {border-collapse: collapse; border-spacing: 0}
audio, canvas, video {display: inline-block; *display: inline; *zoom: 1}
audio:not([controls]), [hidden], .hidden, .hide {display: none}
body {line-height:1}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
a {text-decoration: none; cursor: pointer; outline-width: 0}
a:hover {text-decoration: underline}
a.ie6:hover {zoom: 1}
sub, sup {vertical-align: baseline}

/*img*/
img {border: 0; vertical-align: middle;max-width:100%}
a img, img {-ms-interpolation-mode: bicubic}
img[src=""]{
opacity: 0;
}/*图片没有路径时，除去边框*/
/*===========================样式重置end=================================*/


/*=====================响应式=====================*/

/*2.1 响应式栅格系统*/
.container {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto}
.container-fluid {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto}
@media (min-width:768px) {
  .container {width: 750px}
}
@media (min-width:992px) {
  .container {width: 970px}
}
@media (min-width:1200px) {
  .container {width: 1170px}
}
@media (min-width:1300px) {
  .container {width: 1240px}
}
@media print {
  .container {width: auto}
}
.row {box-sizing: border-box; margin-left: -15px; margin-right: -15px}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{min-height:1px;position:relative;padding-left:15px;padding-right:15px;box-sizing:border-box}.col-1{width:8.33333%}.col-2{width:16.66667%}.col-3{width:25%}.col-4{width:33.33333%}.col-5{width:41.66667%}.col-6{width:50%}.col-7{width:58.33333%}.col-8{width:66.66667%}.col-9{width:75%}.col-10{width:83.33333%}.col-11{width:91.66667%}.col-12{width:100%}.col-offset-0{margin-left:0}.col-offset-1{margin-left:8.33333%}.col-offset-2{margin-left:16.66667%}.col-offset-3{margin-left:25%}.col-offset-4{margin-left:33.33333%}.col-offset-5{margin-left:41.66667%}.col-offset-6{margin-left:50%}.col-offset-7{margin-left:58.33333%}.col-offset-8{margin-left:66.66667%}.col-offset-9{margin-left:75%}.col-offset-10{margin-left:83.33333%}.col-offset-11{margin-left:91.66667%}.col-push-0{position:relative;left:0;right:auto}.col-pull-0{right:0;left:auto}.col-push-1{left:8.33333%;right:auto}.col-pull-1{right:8.33333%;left:auto}.col-push-2{left:16.66667%;right:auto}.col-pull-2{right:16.66667%;left:auto}.col-push-3{left:25%;right:auto}.col-pull-3{right:25%;left:auto}.col-push-4{left:33.33333%;right:auto}.col-pull-4{right:33.33333%;left:auto}.col-push-5{left:41.66667%;right:auto}.col-pull-5{right:41.66667%;left:auto}.col-push-6{left:50%;right:auto}.col-pull-6{right:50%;left:auto}.col-push-7{left:58.33333%;right:auto}.col-pull-7{right:58.33333%;left:auto}.col-push-8{left:66.66667%;right:auto}.col-pull-8{right:66.66667%;left:auto}.col-push-9{left:75%;right:auto}.col-pull-9{right:75%;left:auto}.col-push-10{left:83.33333%;right:auto}.col-pull-10{right:83.33333%;left:auto}.col-push-11{left:91.66667%;right:auto}.col-pull-11{right:91.66667%;left:auto}.col-1-1{width:100%}.col-2-1{width:50%}.col-3-1{width:33.333333%}.col-3-2{width:66.666667%}.col-4-1{width:25%}.col-4-3{width:75%}.col-5-1{width:20%}.col-5-2{width:40%}.col-5-3{width:60%}.col-5-4{width:80%}.col-6-1{width:16.666667%}.col-6-5{width:83.333333%}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (max-width:767px){.responsive [class^="col-"],.responsive [class*=" col-"]{float:none!important;width:auto!important}.responsive [class^="col-offset-"],.responsive [class*=" col-offset-"]{margin-left:0px!important}}@media(min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666666666666%}.col-sm-10{width:83.33333333333334%}.col-sm-9{width:75%}.col-sm-8{width:66.66666666666666%}.col-sm-7{width:58.333333333333336%}.col-sm-6{width:50%}.col-sm-5{width:41.66666666666667%}.col-sm-4{width:33.33333333333333%}.col-sm-3{width:25%}.col-sm-2{width:16.666666666666664%}.col-sm-1{width:8.333333333333332%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666666666666%}.col-sm-pull-10{right:83.33333333333334%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666666666666%}.col-sm-pull-7{right:58.333333333333336%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666666666667%}.col-sm-pull-4{right:33.33333333333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.666666666666664%}.col-sm-pull-1{right:8.333333333333332%}.col-sm-pull-0{right:0}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666666666666%}.col-sm-push-10{left:83.33333333333334%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666666666666%}.col-sm-push-7{left:58.333333333333336%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666666666667%}.col-sm-push-4{left:33.33333333333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.666666666666664%}.col-sm-push-1{left:8.333333333333332%}.col-sm-push-0{left:0}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666666666666%}.col-sm-offset-10{margin-left:83.33333333333334%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666666666666%}.col-sm-offset-7{margin-left:58.333333333333336%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666666666667%}.col-sm-offset-4{margin-left:33.33333333333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.666666666666664%}.col-sm-offset-1{margin-left:8.333333333333332%}.col-sm-offset-0{margin-left:0}}@media(min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666666666666%}.col-md-10{width:83.33333333333334%}.col-md-9{width:75%}.col-md-8{width:66.66666666666666%}.col-md-7{width:58.333333333333336%}.col-md-6{width:50%}.col-md-5{width:41.66666666666667%}.col-md-4{width:33.33333333333333%}.col-md-3{width:25%}.col-md-2{width:16.666666666666664%}.col-md-1{width:8.333333333333332%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666666666666%}.col-md-pull-10{right:83.33333333333334%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666666666666%}.col-md-pull-7{right:58.333333333333336%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666666666667%}.col-md-pull-4{right:33.33333333333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.666666666666664%}.col-md-pull-1{right:8.333333333333332%}.col-md-pull-0{right:0}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666666666666%}.col-md-push-10{left:83.33333333333334%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666666666666%}.col-md-push-7{left:58.333333333333336%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666666666667%}.col-md-push-4{left:33.33333333333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.666666666666664%}.col-md-push-1{left:8.333333333333332%}.col-md-push-0{left:0}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666666666666%}.col-md-offset-10{margin-left:83.33333333333334%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666666666666%}.col-md-offset-7{margin-left:58.333333333333336%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666666666667%}.col-md-offset-4{margin-left:33.33333333333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.666666666666664%}.col-md-offset-1{margin-left:8.333333333333332%}.col-md-offset-0{margin-left:0}}@media(min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666666666666%}.col-lg-10{width:83.33333333333334%}.col-lg-9{width:75%}.col-lg-8{width:66.66666666666666%}.col-lg-7{width:58.333333333333336%}.col-lg-6{width:50%}.col-lg-5{width:41.66666666666667%}.col-lg-4{width:33.33333333333333%}.col-lg-3{width:25%}.col-lg-2{width:16.666666666666664%}.col-lg-1{width:8.333333333333332%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666666666666%}.col-lg-pull-10{right:83.33333333333334%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666666666666%}.col-lg-pull-7{right:58.333333333333336%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666666666667%}.col-lg-pull-4{right:33.33333333333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.666666666666664%}.col-lg-pull-1{right:8.333333333333332%}.col-lg-pull-0{right:0}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666666666666%}.col-lg-push-10{left:83.33333333333334%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666666666666%}.col-lg-push-7{left:58.333333333333336%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666666666667%}.col-lg-push-4{left:33.33333333333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.666666666666664%}.col-lg-push-1{left:8.333333333333332%}.col-lg-push-0{left:0}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666666666666%}.col-lg-offset-10{margin-left:83.33333333333334%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666666666666%}.col-lg-offset-7{margin-left:58.333333333333336%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666666666667%}.col-lg-offset-4{margin-left:33.33333333333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.666666666666664%}.col-lg-offset-1{margin-left:8.333333333333332%}.col-lg-offset-0{margin-left:0}}

/*2.2 响应式隐藏显示
*/
.visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {display: none !important}
@media (max-width:767px) {
  .visible-xs {display: block !important}
  table.visible-xs {display: table}
  tr.visible-xs {display: table-row !important}
  th.visible-xs, td.visible-xs {display: table-cell !important}
  .hidden-xs {display: none !important}
  .visible-xs-block {display: block !important}
  .visible-xs-inline {display: inline !important}
  .visible-xs-inline-block {display: inline-block !important}
}
@media (min-width:768px) and (max-width:991px) {
  .visible-sm {display: block !important}
  table.visible-sm {display: table}
  tr.visible-sm {display: table-row !important}
  th.visible-sm, td.visible-sm {display: table-cell !important}
  .hidden-sm {display: none !important}
  .visible-sm-block {display: block !important}
  .visible-sm-inline {display: inline !important}
  .visible-sm-inline-block {display: inline-block !important}
}
@media (min-width:992px) and (max-width:1199px) {
  .visible-md {display: block !important}
  table.visible-md {display: table}
  tr.visible-md {display: table-row !important}
  th.visible-md, td.visible-md {display: table-cell !important}
  .hidden-md {display: none !important}
  .visible-md-block {display: block !important}
  .visible-md-inline {display: inline !important}
  .visible-md-inline-block {display: inline-block !important}
}
@media (min-width:1200px) {
  .visible-lg {display: block !important}
  table.visible-lg {display: table}
  tr.visible-lg {display: table-row !important}
  th.visible-lg, td.visible-lg {display: table-cell !important}
  .hidden-lg {display: none !important}
  .visible-lg-block {display: block !important}
  .visible-lg-inline {display: inline !important}
  .visible-lg-inline-block {display: inline-block !important}
}
.visible-print {display: none !important}
.visible-print-block {display: none !important}
.visible-print-inline {display: none !important}
.visible-print-inline-block {display: none !important}
@media print {
  .visible-print {display: block !important}
  table.visible-print {display: table}
  tr.visible-print {display: table-row !important}
  th.visible-print, td.visible-print {display: table-cell !important}
  .visible-print-block {display: block !important}
  .visible-print-inline {display: inline !important}
  .visible-print-inline-block {display: inline-block !important}
  .hidden-print {display: none !important}
}

/*=========================响应式 end=======================*/

/*===========================基础样式start=================================*/
/*清浮动*/
.clear:after, .clearfix:after {content: "\20"; display: block; height: 0; clear: both; visibility: hidden}
.clear, .clearfix {zoom: 1}
.transform-clear {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0)}
.radius-clear {-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important}
.inline-block {display: inline-block; *display: inline; *zoom: 1}
/* margin */
.mt-0{margin-top: 0px}.mt-1{margin-top: 1px}.mt-2{margin-top: 2px}.mt-3{margin-top: 3px}.mt-4{margin-top: 4px}.mt-5{margin-top: 5px}.mt-6{margin-top: 6px}.mt-7{margin-top: 7px}.mt-8{margin-top: 8px}.mt-9{margin-top: 9px}.mt-10{margin-top: 10px}.mt-15{margin-top: 15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-45{margin-top:45px}.mt-50{margin-top:50px}.mt-55{margin-top:55px}.mt-60{margin-top:60px}
.mr-0{margin-right:0px}.mr-1{margin-right:1px}.mr-2{margin-right:2px}.mr-3{margin-right:3px}.mr-4{margin-right:4px}.mr-5{margin-right:5px}.mr-6{margin-right:6px}.mr-7{margin-right:7px}.mr-8{margin-right:8px}.mr-9{margin-right:9px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-25{margin-right:25px}.mr-30{margin-right:30px}.mr-35{margin-right:35px}.mr-40{margin-right:40px}.mr-45{margin-right:45px}.mr-50{margin-right:50px}.mr-55{margin-right:55px}.mr-60{margin-right:60px}
.mb-0{margin-bottom:0px}.mb-1{margin-bottom:1px}.mb-2{margin-bottom:2px}.mb-3{margin-bottom:3px}.mb-4{margin-bottom:4px}.mb-5{margin-bottom:5px}.mb-6{margin-bottom:6px}.mb-7{margin-bottom:7px}.mb-8{margin-bottom:8px}.mb-9{margin-bottom:9px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-25{margin-bottom:25px}.mb-30{margin-bottom:30px}.mb-35{margin-bottom:35px}.mb-40{margin-bottom:40px}.mb-45{margin-bottom:45px}.mb-50{margin-bottom:50px}.mb-55{margin-bottom:55px}.mb-60{margin-bottom:60px}
.ml-0{margin-left:0px}.ml-1{margin-left:1px}.ml-2{margin-left:2px}.ml-3{margin-left:3px}.ml-4{margin-left:4px}.ml-5{margin-left:5px}.ml-6{margin-left:6px}.ml-7{margin-left:7px}.ml-8{margin-left:8px}.ml-9{margin-left:9px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-25{margin-left:25px}.ml-30{margin-left:30px}.ml-35{margin-left:35px}.ml-40{margin-left:40px}.ml-45{margin-left:45px}.ml-50{margin-left:50px}.ml-55{margin-left:55px}.ml-60{margin-left:60px}
.mg-0{margin:0px}.mg-1{margin:1px}.mg-2{margin:2px}.mg-3{margin:3px}.mg-4{margin:4px}.mg-5{margin:5px}.mg-6{margin:6px}.mg-7{margin:7px}.mg-8{margin:8px}.mg-9{margin:9px}.mg-10{margin:10px}.mg-15{margin:15px}.mg-20{margin:20px}.mg-25{margin:25px}.mg-30{margin:30px}.mg-35{margin:35px}.mg-40{margin:40px}.mg-45{margin:45px}.mg-50{margin:50px}.mg-55{margin:55px}.mg-60{margin:60px}
.mg-0-auto{margin:0 auto}
/* padding */
.pt-0{padding-top: 0px}.pt-1{padding-top: 1px}.pt-2{padding-top: 2px}.pt-3{padding-top: 3px}.pt-4{padding-top: 4px}.pt-5{padding-top: 5px}.pt-6{padding-top: 6px}.pt-7{padding-top: 7px}.pt-8{padding-top: 8px}.pt-9{padding-top: 9px}.pt-10{padding-top: 10px}.pt-15{padding-top: 15px}.pt-20{padding-top:20px}.pt-25{padding-top:25px}.pt-30{padding-top:30px}.pt-35{padding-top:35px}.pt-40{padding-top:40px}.pt-45{padding-top:45px}.pt-50{padding-top:50px}.pt-55{padding-top:55px}.pt-60{padding-top:60px}
.pr-0{padding-right: 0px}.pr-1{padding-right: 1px}.pr-2{padding-right: 2px}.pr-3{padding-right: 3px}.pr-4{padding-right: 4px}.pr-5{padding-right: 5px}.pr-6{padding-right: 6px}.pr-7{padding-right: 7px}.pr-8{padding-right: 8px}.pr-9{padding-right: 9px}.pr-10{padding-right: 10px}.pr-15{padding-right: 15px}.pr-20{padding-right:20px}.pr-25{padding-right:25px}.pr-30{padding-right:30px}.pr-35{padding-right:35px}.pr-40{padding-right:40px}.pr-45{padding-right:45px}.pr-50{padding-right:50px}.pr-55{padding-right:55px}.pr-60{padding-right:60px}
.pb-0{padding-bottom: 0px}.pb-1{padding-bottom: 1px}.pb-2{padding-bottom: 2px}.pb-3{padding-bottom: 3px}.pb-4{padding-bottom: 4px}.pb-5{padding-bottom: 5px}.pb-6{padding-bottom: 6px}.pb-7{padding-bottom: 7px}.pb-8{padding-bottom: 8px}.pb-9{padding-bottom: 9px}.pb-10{padding-bottom: 10px}.pb-15{padding-bottom: 15px}.pb-20{padding-bottom:20px}.pb-25{padding-bottom:25px}.pb-30{padding-bottom:30px}.pb-35{padding-bottom:35px}.pb-40{padding-bottom:40px}.pb-45{padding-bottom:45px}.pb-50{padding-bottom:50px}.pb-55{padding-bottom:55px}.pb-60{padding-bottom:60px}
.pl-0{padding-left: 0px}.pl-1{padding-left: 1px}.pl-2{padding-left: 2px}.pl-3{padding-left: 3px}.pl-4{padding-left: 4px}.pl-5{padding-left: 5px}.pl-6{padding-left: 6px}.pl-7{padding-left: 7px}.pl-8{padding-left: 8px}.pl-9{padding-left: 9px}.pl-10{padding-left: 10px}.pl-15{padding-left: 15px}.pl-20{padding-left:20px}.pl-25{padding-left:25px}.pl-30{padding-left:30px}.pl-35{padding-left:35px}.pl-40{padding-left:40px}.pl-45{padding-left:45px}.pl-50{padding-left:50px}.pl-55{padding-left:55px}.pl-60{padding-left:60px}
.pd-0{padding: 0px}.pd-1{padding: 1px}.pd-2{padding: 2px}.pd-3{padding: 3px}.pd-4{padding: 4px}.pd-5{padding: 5px}.pd-6{padding: 6px}.pd-7{padding: 7px}.pd-8{padding: 8px}.pd-9{padding: 9px}.pd-10{padding: 10px}.pd-15{padding: 15px}.pd-20{padding:20px}.pd-25{padding:25px}.pd-30{padding:30px}.pd-35{padding:35px}.pd-40{padding:40px}.pd-45{padding:45px}.pd-50{padding:50px}.pd-55{padding:55px}.pd-60{padding:60px}
/*高度 常用文字限高*/
.h-15{height:15px}.h-20{height:20px}.h-25{height:25px}.h-30{height:30px}.h-35{height:35px}.h-40{height:40px}.h-45{height:45px}.h-50{height:50px}.h-55{height:55px}.h-60{height:60px}
/* 行高 */
.line-h-15{line-height: 15px}.line-h-20{line-height: 20px}.line-h-25{line-height: 25px}.line-h-30{line-height: 30px}.line-h-35{line-height: 35px}.line-h-40{line-height: 40px}.line-h-45{line-height: 45px}.line-h-50{line-height: 50px}.line-h-55{line-height: 55px}.line-h-60{line-height: 60px}.line-h-100s{line-height: 100%}.line-h-150s{line-height: 150%}
/* 圆角 */
.radius-0{border-radius:0px}.radius-3{border-radius:3px}.radius-5{border-radius: 5px}.radius-10{border-radius: 10px}.radius-15{border-radius: 15px}.radius-20{border-radius: 20px}.full-radius{border-radius: 50%}
/* 宽度比例 */
.full-w{width: 100% !important}.full-h{height: 100%  !important}.full-wh{width: 100%;height:100%}
.max-100{max-width: 100px}
/* 常用阴影 */
.shadow-rb{ -webkit-box-shadow: 3px 3px 3px;-moz-box-shadow: 3px 3px 3px;box-shadow: 3px 3px 3px}
/* 链接 */
.inline-link {display: inline-block; border-bottom: 1px dashed rgba(0, 0, 0, 0.4); text-decoration: none; color: #777}
.inline-link:hover {border-bottom-style: dotted}
.inline-link:active {border-bottom-style: solid}
.inline-link:visited {border-bottom: 1px solid #97CAF2}
/* 下划线 */
.t-none,.t-none a{text-decoration: none}
.t-through{text-decoration:line-through}
/* 边框 */
.bor{border: 1px solid black}
/* 边框颜色 */
.bor-col-pri{border-color: #00A5F7 !important}
.bor-col-red{border-color:#e3393c !important}
.bor-col-orange{border-color:orange !important}
.bor-col-success{border-color:#5eb95e !important}
.bor-col-ccc{border-color: #ccc !important}
.bor-col-eb{border-color: #ebebeb !important}
.bor-col-f2{border-color: #f2f2f2 !important}
.bor-col-eaf8ff{border-color: #eaf8ff !important}
/* 边框粗细 */
.bor-2px{border-width: 2px}
.bor-3px{border-width: 3px}
.bor-5px{border-width: 5px}
.bor-7px{border-width: 7px}
/* 边框样式 */
.bor-dot{border-style: dotted}
.bor-dou{border-style: double}
.bor-das{border-style: dashed}
/* 有无边框 */
.bor-t{border-style:solid none none none}
.bor-r{border-style:none solid none none}
.bor-b{border-style:none none solid none}
.bor-l{border-style:none none none solid}
.bor-t-none{border-top:none}
.bor-l-none{border-left:none}
.bor-r-none{border-right:none}
.bor-b-none{border-bottom:none}
/* 强制换行 */
.newline {word-wrap: break-word; white-space: normal; word-break: break-all}
/*字体*/
.family-hk{font-family: "华文楷体"}
.family-h{font-family: "黑体"}
.family-s{font-family: "宋体"}
.family-hxh{font-family: "华文细黑"}
.family-tnr{font-family: "Times New Roman"}
/*字体大小 加粗*/
.f-w{font-weight: bolder}
.f-11{font-size:11px;-webkit-transform:scale(0.8)}
.f-12{font-size:12px}.f-12i{font-size:12px !important}.f-13{font-size: 13px}.f-13i{font-size: 13px !important}.f-14{font-size: 14px}.f-14i{font-size:14px !important}.f-16{font-size:16px}.f-16i{font-size:16px !important}.f-18{font-size:18px}.f-18i{font-size:18px !important}.f-20{font-size:20px}.f-20i{font-size:20px !important}.f-22{font-size:22px}.f-22i{font-size:22px !important}.f-24{font-size:24px}.f-24i{font-size:24px !important}.f-26{font-size:26px}.f-26!{font-size:26px !important}.f-28{font-size:28px}.f-28i{font-size:28px !important}.f-30{font-size:30px}.f-30i{font-size:30px !important}
/* 编辑器文本调整*/
.edit p{font-size:13px !important;text-indent:24px;margin-bottom:10px;letter-spacing:1px}
/*字间距*/
.let-spa-1{letter-spacing:1px}
.let-spa-2{letter-spacing:2px}
/*首行缩进 2个字*/
.text-ind{text-indent:2em}
/*首字大写*/
.first-let:first-letter{
  font-size:18px;
  margin-right:3px;
}
/* 堆叠 */
.z-0{z-index: 0}.z-1{z-index: 1}.z-9{z-index: 9}.z-99{z-index: 99}.z-999{z-index: 999}.z-9999{z-index: 9999}.z-99999{z-index: 99999}
/*主要颜色*/
.col-primary,.col-primary a,a.col-primary{color:#00ADEB}
.col-primary a:hover,a.col-primary:hover{color:#00ADEB}
/*强调色—成功*/
.col-success,.col-success a,a.col-success{color:#5eb95e}
.col-success a:hover,a.col-success:hover{color:#5eb95e}
/*强调色—危险*/
.col-danger,.col-danger a,a.col-danger{color:#dd514c}
.col-danger a:hover,a.col-danger:hover{color:#dd514c}
/*强调色—警告*/
.col-warning,.col-warning a,a.col-warning{color:#f37b1d}
.col-warning a:hover,a.col-warning:hover{color:#f37b1d}
/*强调色—错误*/
.col-error,.col-error a,a.col-error{color:#c00}
.col-error a:hover,a.col-error:hover{color:#c00}
/*辅助色—浅黑*/
.col-333,.col-333 a,a.col-333{color:#333}
.col-333 a:hover,a.col-333:hover{color:#333}
/*辅助色—灰色*/
.col-555,.col-555 a,a.col-555{color:#555}
.col-555 a:hover,a.col-555:hover{color:#555}
.col-666,.col-666 a,a.col-666{color:#666}
.col-666 a:hover,a.col-666:hover{color:#666}
.col-999,.col-999 a,a.col-999{color:#999}
.col-999 a:hover,a.col-999:hover{color:#999}
.col-ccc,.col-ccc a,a.col-ccc{color:#ccc}
.col-ccc a:hover,a.col-ccc:hover{color:#ccc}
/*标准色—红色*/
.col-red,.col-red a,a.col-red{color:#e3393c}
.col-red a:hover,a.col-red:hover{color:#e3393c}
/*红色*/
.col-green,.col-green a,a.col-green{color:#72c02c}
.col-green a:hover,a.col-green:hover{color:#72c02c}
/*红色*/
.col-red-2,.col-red-2 a,a.col-red-2{color:#c81623}
.col-red-2 a:hover,a.col-red-2:hover{color:#c81623}
/*标准色—白色*/
.col-white,.col-white a,a.col-white{color:white}
.col-white a:hover,a.col-white:hover{color:white}
.col-white2,.col-white2 a,a.col-white2{color:#f7f5f5}
.col-white2 a:hover,a.col-white2:hover{color:#f7f5f5}
/*标准色—黑色*/
.col-black,.col-black a{color:black}
.col-black a:hover,a.col-black:hover{color:black}
/*标准色—橙色*/
.col-orange,.col-orange a,a.col-orange{color:orange}
.col-orange a:hover,a.col-orange:hover{color:orange}
/* 深蓝色 */
.col-h-blue{color: #003368}
/*背景颜色*/
/* 主要的 */
.bg-primary{background: #00A5F7}
/* 白色 */
.bg-white{background: #fff}
/* 浅灰色 */
.bg-gray{background: #f5f5f5}
.bg-999{background: #999}
.bg-ddd{background: #ddd}
/* 淡黑色 */
.bg-black1{background: #e7e8eb}
.bg-black2{background: #585f69}
.bg-555{background: #555}
.bg-black{background: black}
/* 深黑色 */
.bg-h-black{background: #444}
/* 深蓝色 */
.bg-h-blue{background: #003368}
/* 浅蓝色 */
.bg-l-blue{background: #eaf8ff}
/* 红色 */
.bg-red{background: #E12432}
.bg-l-red{background: #fafafa;}
/*绿色*/
.bg-green{background: #72c02c}
.bg-l-green{background-color:#EAF2D3}
.bg-l-green2{background-color:#D7FFF0;}
/*橘黄色*/
.bg-orange{background: orange}
/* 浮动 */
.pull-left {float: left !important; _display: inline}
.pull-right {float: right !important; _display: inline}
/*字体hover*/
.hov-primary:hover,.hov-primary a:hover{color:#00ADEB}
.hov-red:hover,.hov-red a:hover{color:#e3393c}
.hov-green:hover,.hov-green a:hover{color:#72c02c}
/*对齐*/
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.va  * {vertical-align: sub !important; *vertical-align: middle !important; _vertical-align: middle !important}
.vert-def{vertical-align: baseline!important}
.vert-t {vertical-align: top !important}
.vert-m {vertical-align: middle !important}
.vert-b {vertical-align: bottom !important}
/*一行超出省略*/
.text-overflow {overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
/*一行直接截断*/
.text-overflow-1 {overflow: hidden; white-space: nowrap}
/*一行文字，多余超出省略*/
.text-line-1{overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:1}
/*两行文字，多余超出省略*/
.text-line-2{overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2}
/*四行文字，多余超出省略*/
.text-line-4{overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:4}
/*水平翻转*/
.flipx {-moz-transform: scaleX(-1); -webkit-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH()}
/*垂直翻转*/
.flipy {-moz-transform: scaleY(-1); -webkit-transform: scaleY(-1); -o-transform: scaleY(-1); transform: scaleY(-1); filter: FlipV()}
/*顺时针旋转45度*/
.rotate45 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg)}
/*顺时针旋转90度*/
.rotate90 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg)}
/*顺时针旋转180度*/
.rotate180 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg)}
/*顺时针旋转270度*/
.rotate270 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg)}

/*定位*/
.affix {position: fixed}.pos-r {position: relative}.pos-a {position: absolute}
.t-0{top: 0px}.t-1{top: 1px}.t-2{top: 2px}.t-3{top: 3px}.t-4{top: 4px}.t-5{top: 5px}.t-7{top: 7px}.t-10{top: 10px}.t--1{top: -1px}.t--2{top: -2px}.t--3{top: -3px}.t--4{top: -4px}.t--5{top: -5px}
.r-0{right: 0px}.r-1{right: 1px}.r-2{right: 2px}.r-3{right: 3px}.r-4{right: 4px}.r-5{right: 5px}.r-7{right: 7px}.r-10{right: 10px}.r--1{right: -1px}.r--2{right: -2px}.r--3{right: -3px}.r--4{right: -4px}.r--5{right: -5px}
.b-0{bottom: 0px}.b-1{bottom: 1px}.b-2{bottom: 2px}.b-3{bottom: 3px}.b-4{bottom: 4px}.b-5{bottom: 5px}.b-7{bottom: 7px}.b-10{bottom: 10px}.b--1{bottom: -1px}.b--2{bottom: -2px}.b--3{bottom: -3px}.b--4{bottom: -4px}.b--5{bottom: -5px}
.l-0{left: 0px}.l-1{left: 1px}.l-2{left: 2px}.l-3{left: 3px}.l-4{left: 4px}.l-5{left: 5px}.l-7{left: 7px}.l-10{left: 10px}.l--1{left: -1px}.l--2{left: -2px}.l--3{left: -3px}.l--4{left: -4px}.l--5{left: -5px}
/*超出隐藏*/
.overflow-h{overflow: hidden}
/* 鼠标手势 */
.cur-p{cursor: pointer}.cur-h{cursor: help}.cur-a{cursor: auto}.cur-d{cursor: default}
/* 显示隐藏块 */
.dis-b{display: block}.dis-n{display: none}.dis-i{display: inline}.dis-ib{display: inline-block}
/*===============按钮================*/

/*按钮基础样式*/
a.btn {text-decoration: none}
.btn { background-color: #EEE; border-color: #EEE; border-width: 1px; border-style: solid;text-decoration: none; text-align: center; height: 40px; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; display: inline-block; *display: inline; *zoom: 1; outline-style: none}
.btn[disabled] {background: #EEE !important; text-shadow: 0 0 0 white !important; color: #CCC !important; cursor: default !important; appearance: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; opacity: .8 !important}
/* 按钮颜色 */
.btn-primary, .btn-green, .btn-orange, .btn-violet, .btn-pink, .gradient-red, .gradient-primary,.btn-red  {color: #FFF}
.btn-gray, .gradient-gray, .btn-white,{color: #555}
.btn-hollow {background: none}
.btn-white {background: #fff; border-color: #fff}
.btn-gray {background-color: #EEE; border-color: #EEE; color: #555}
.btn-primary {background-color: #00a5f7; border-color: #00a5f7}
.btn-green {background-color: #A5DE37; border-color: #A5DE37}
.btn-orange {background-color: #FEAE1B; border-color: #FEAE1B}
.btn-orange2 {background-color: #fe4500; border-color: #fe4500}
.btn-violet {background-color: #a49ef0; border-color: #a49ef0}
.btn-pink {background-color: #ff7680; border-color: #ff7680}
.btn-red {background-color: #c81623; border-color: #c81623}

/*按钮大小*/
.btn-huge {font-size: 24px; height: 60px; line-height: 55px; padding: 0 60px}
.btn-large {font-size: 20px; height: 50px; line-height: 45px; padding: 0 50px}
.btn-normal {font-size: 16px; height: 40px; line-height: 35px; padding: 0 40px}
.btn-small {height: 30px; line-height: 25px; padding: 0 30px}
.btn-tiny {height: 24px; line-height: 22px; padding: 0 24px}
/*===============按钮END================*/

/*===============输入框================*/
.ipt-text.size-tiny {font-size: 12px; height: 23px; padding: 1px 8px}
/*迷你*/
.ipt-text.size-small {font-size: 12px; height: 30px; padding: 3px 8px}
/*小*/
.ipt-text.size-normal {font-size: 14px; height: 34px; padding: 5px 10px}
/*正常*/
.ipt-text.size-large {font-size: 16px; height: 41px; padding: 8px 12px}
/*大*/
.ipt-text.size-huge {font-size: 18px; height: 48px; padding: 10px 14px}
/*特大*/
.ipt-text {height: 34px; *height: auto; line-height: 1.42857; padding: 8px 10px}
.ipt-text, .textarea {box-sizing: border-box; border: solid 1px #ddd; width: 100%; -webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -o-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s}
.textarea {height: 100px; resize: none; font-size: 14px; padding: 4px}
.ipt:hover,.ipt-text:hover, .textarea:hover, .ipt:focus, .ipt-text:focus, .textarea:focus {border: solid 1px #9fc15c}
/*输入表单*/
.lab-out{float: left;text-align: right;min-width:93px}
.ipt-out{position: relative;margin-left:93px}
.lab-out-v2{float: left;text-align: right;min-width:63px}
.ipt-out-v2{position: relative;margin-left:68px}
    /*  .lab-out 当表单 前部文字较长时使用*/
    /*  .lab-out-v2 当表单 前部文字较短时使用*/
.ipt-label{padding:7px 5px}
.idcode{position: absolute;right:1px;top:1px;cursor: pointer;height:32px;width:100px;border-bottom-left-radius:0;border-top-left-radius:0}
/*搜索框*/
.search{position: relative}
.search .sea-btn{position: absolute;right:0;top:-1px;height:36px;line-height:32px;border-bottom-left-radius:0;border-top-left-radius:0}
.search .sea-btn-v2{position: absolute;right:0;top:-1px;height:32px}
/*搜索框提示*/
.search-con{position: relative}
.search-list{position: absolute;display: none;left:0;z-index:99}
.search-list li:hover{background:#e7e8eb}
/*搜索框end*/
/*===============下拉框================*/
.sel {width: 100%; position: relative; display: block}
.sel i {position: absolute; right: 15px; top: 20%; font-size: 20px; color: #333}
.sel .s-input {padding: 8px 15px; width: 100%; border: 1px solid #ccc}
.opt {color: #333; width: 100%; position: absolute; left: 0; display: none; border: 1px solid #ccc; border-top: none; z-index: 10; background: #fff;max-height:500%;overflow: auto}
.opt li {display: block; padding: 3px 14px 3px 14px; color: #555}
.opt li:hover {background: #f2f2f2}

/*===============下拉框END================*/


/*===============选项卡================*/

/*风格一*/
.tab-v1 .tabbar {border-bottom: solid 2px #72c02c}
.tab-v1 .tabbar span {float: left; color: #555; padding: 8px 15px; font-size: 14px; margin-right: 2px; cursor: pointer}
.tab-v1 .tabcon{display: none}
.tab-v1 .tabbar span.current {background: #72c02c; color: #fff}
.tab-v1 .tabbar span:hover {background: #72c02c; color: #fff}
/*风格二*/
/*.tab-v2 .tabbar{border-bottom: solid 2px #72c02c}*/
.tab-v2 .tabbar span {float: left; font-size: 14px; color: #555; padding: 10px 15px 10px; cursor: pointer; margin-bottom: -2px}
.tab-v2 .tabcon {border: solid 1px #f2f2f2}
.tab-v2 .tabbar span.current {background: #fff; border-left: solid 1px #eee; border-right: solid 1px #eee; padding: 8px 14px 11px; border-top: 2px solid #00B0EC}
.tab-v2 .tabbar span:hover {color: #00B0EC}
/*===============选项卡END================*/

/*===============导航条================*/
/* 顶部导航 */
.nav-topbar ul li {float: left}
.nav-topbar .topbar-devider {height: 14px; padding: 0; position: relative; top: 0px; margin: 0 9px 0 5px}
/* 导航 */
.nav ul li {float: left; cursor: pointer}
.nav ul li a {display: inline-block; padding: 9px 30px 9px 20px; font-size: 15px; line-height: 20px}
.nav ul li a:hover {color: #00ADEB; border-bottom: solid 2px #00ADEB; text-decoration: none;padding-bottom: 7px}
.nav .current {color: #00ADEB; border-bottom: solid 2px #00ADEB}
/* 导航二 */
.nav-v2 ul li {float: left; cursor: pointer;font-size: 14px}
.nav-v2 ul li a {display: inline-block; padding: 10px 10px 10px 10px}
.nav-v2 .current {color: #00ADEB}
/* 面包屑导航 */
.nav-bre {font-size: 14px}
/*===============导航条END================*/
/*===============折叠================*/
.fold .item {position: relative}
.fold .item h4 {margin: 0; position: relative;line-height: 22px; padding: 5px 10px;cursor: pointer; padding-right: 30px}
.fold .item h4 b {position: absolute; display: block; cursor: pointer; right: 10px; top: 5px; width: 16px; height: 16px; text-align: center; color: #666; font-size: 16px}
.fold .info {display: none}
.fold .info li {text-align: center; line-height: 30px; font-size: 16px; height: 30px; background-color: #fff}
.fold .info li a:hover{text-decoration: none; background-color: #f4f5f9; color: #00ADEB}
/*===============折叠END=================*/
/* 常用图片尺寸 */
.img-20{width:20px;height:20px}
.img-25{width:25px;height:25px}
.img-30{width:30px;height:30px}
.img-35{width:35px;height:35px}
.img-50{width:50px;height:50px}
.img-60{width:60px;height:60px}
.img-100{width:100px;height:100px}
.product-img{width: 100%;height:190px; position: relative}
@media (max-width: 768px){
  .product-img{height:130px}
}
.pro-img-2{width: 100%;height:139px;position: relative}
.pro-img-3{height:60px;position: relative}
/* 二  居中显示*/
@media (max-width: 992px){
  .pro-img-2{height:95px}
  .pro-img-3{height:50px}
}
.product-img img,.pro-img-2 img,.pro-img-3 img{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    max-height: 100%;
}
/*页面底部*/
.wrap{min-height: 100%}
/*透明*/
.rgba-30{background: rgba(0,0,0,0.4)}
.rgba-50{background: rgba(0,0,0,0.5)}
.rgba-70{background: rgba(0,0,0,0.7)}