 @charset"utf-8";
@media (max-width:1300px) {
  .container {width: 990px}
  .navigation{width: 990px}
  .container-tipsv1{width:27.28%;}
  .container-tipsv2{width:72.72%;}
  .container-tipsv1tips{width:33.33333%;}
  .container-tipsv2tips{width:50%;}
  .searchinputbox{width: 350px;}
  .w-790-590{width: 590px;}
  .w-550-400{width: 400px;}
  .w-500-350{width: 350px;}
  .w-190-150{width: 150px;}
  .w-800-600{width: 600px;}
  .w-1000-800{width: 800px;}
  .dis-1299{display: none;}
}
@media (min-width:1300px) {
  .container {width: 1190px}
  .navigation{width: 1190px}
  .container-tipsv1{width:30.77%;}
  .container-tipsv2{width:69.23%;}
  .container-tipsv1tips{width:25%;}
  .container-tipsv2tips{width:33.33333%;}
  .w-790-590{width: 790px;}
  .w-550-400{width: 550px;}
  .w-500-350{width: 500px;}
  .w-190-150{width: 190px;}
  .w-800-600{width: 800px;}
  .w-1000-800{width: 1000px;}
}
@media print {
  .container {width: auto}
}
a:hover{text-decoration: none}
.col-fffi{color: #fff !important;}
.col-E3E4E5{color:#E3E4E5;}
.col-c81623{color: #c81623 !important;}
.col-f10214{color: #f10214 !important;}
.col-f10215{color: #f10215 !important;}
.col-da1616{color: #da1616;}
.col-555{color: #555 !important; }
.col-666i{color: #666 !important; }
.col-666{color: #666; }
.col-e01121{color: #e01121;}
.col-e01222{color: #e01222;}
.bg-E3E4E5{background: #E3E4E5;}
.bg-f6f0f0{background-color: #f6f0f0;}
.bg-f6f6f6{background-color: #f6f6f6;}
.bg-f7f7f7{background-color: #f7f7f7;}
.bg-f10215{background-color: #f10215;}
.bg-6E6568{background-color: #6E6568;}
.bg-5c5251{background-color: #5c5251;}
.bg-999395{background-color: #999395}
.bg-db192b{background-color: #db192b}
.bg-e01222{background-color: #e01222;}
.bor-none{border: none;}
.bor-col-ddd{border-color: #ddd !important}
.bor-col-eee{border-color: #eee !important}
.bor-col-fff{border-color: #fff}
.bor-col-fffi{border-color: #fff !important}
.bor-col-e0e0e0{border-color: #e0e0e0 !important}
.bor-col-e3e4e5{border-color: #e3e4e5 !important}
.bor-col-cfcfcf{border-color: #cfcfcf !important}
.bor-col-e7e7e7{border-color: #e7e7e7 !important}
.bor-col-f7f7f7{border-color: #f7f7f7 !important}
.bor-col-e01121{border-color: #e01121 !important}
.bor-col-f10215{border-color: #f10215 !important}
.bor-col-db7078{border-color: #db7078 !important}
.bor-col-e6e6e6{border-color: #e6e6e6 !important}
.bor-col-e01222{border-color: #e01222 !important}
.bor-col-db192b{border-color: #db192b !important}
.focus-bor-col-74a7f9:focus{border-color: #74a7f9 !important;}
.hov-c81623:hover{color:#c81623 !important; cursor: pointer;}
.hov-c81623:hover i{color:#c81623 !important;}
.hov-bg-ddd:hover{background-color: #ddd !important;}
.hov-bg-5c5251:hover{background-color: #5c5251 !important;}
.img-4{width: 4px;height: 4px;}
.img-12{width: 12px;height: 12px;}
.img-14{width: 14px;height: 14px;}
.img-15{width: 15px;height: 15px;}
.img-16{width: 16px;height: 16px;}
.img-24{width: 24px;height: 24px;}
.img-40{width: 40;height: 40px;}
.img-50{width: 50px;height: 50px;}
.img-70{width: 70px;height: 70px;}
.t-9{top: 9px;}
.t-10{top: 10px;}
.t--12{top:-12px;}
.t-26{top: 26px;}
.t-29{top: 29px;}
.t-30{top: 30px;}
.t--30{top: -30px;}
.t-34{top: 34px;}
.t-35{top: 35px;}
.t-36{top: 36px;}
.t-210{top: 210px;}
.t-212{top: 212px;}
.r-15{right: 15px;}
.r--65{right:-65px;}
.r--70{right:-70px;}
.r-100{right:100px;}
.l-27{left: 27px;}
.l-29{left: 29px;}
.l-30{left: 30px;}
.l-31{left: 31px;}
.l-34{left: 34px;}
.l-37{left: 37px;}
.l--95{left: -95px;}
.l-154{left: 154px;}
.l-190{left: 190px;}
.l-200{left: 200px;}
.w-20s{width: 20%;}
.w-5{width: 5px;}
.w-8{width: 8px;}
.w-14{width: 14px;}
.w-19{width: 19px;}
.w-28{width: 28px;}
.w-50{width: 50px;}
.w-53{width: 53px;}
.w-66{width: 66px;}
.w-70{width: 70px;}
.w-73{width: 73px;}
.w-83{width: 83px;}
.w-85{width: 85px;}
.w-93{width: 93px;}
.w-110{width: 110px;}
.w-168{width: 168px;}
.w-172{width: 172px;}
.w-190{width: 190px;}
.w-198{width: 198px;}
.w-280{width: 280px;}
.w-310{width: 310px;}
.w-322{width: 322px;}
.w-500{width: 500px;}
.w-550{width: 550px;}
.w-790{width: 790px;}
.h-2{height: 2px;}
.h-5{height: 5px;}
.h-14{height: 14px;}
.h-16{height: 16px;}
.h-17{height: 17px;}
.h-18{height: 18px;}
.h-21{height: 21px;}
.h-22{height: 22px;}
.h-23{height: 23px;}
.h-24{height: 24px;}
.h-26{height: 26px;}
.h-27{height: 27px;}
.h-28{height: 28px;}
.h-36{height: 36px;}
.h-50{height: 50px;}
.h-70{height: 70px;}
.h-96{height: 96px}
.h-116{height: 116px;}
.h-120{height: 120px;}
.h-134{height: 134px;}
.h-130{height: 130px;}
.h-149{height: 149px;}
.h-156{height: 156px;}
.h-185{height: 185px;}
.h-210{height: 210px;}
.h-340{height: 340px;}
.h-480{height: 480px;}
.min-h-480{min-height: 480px;}
.pl-12{padding-left: 12px;}
.pl-16{padding-left: 16px;}
.pl-80{padding-left: 80px;}
.pr-12{padding-right: 12px;}
.pt-12{padding-top: 12px;}
.pt-16{padding-top: 16px;}
.pb-12{padding-bottom: 12px;}
.pb-16{padding-bottom: 16px;}
.ml-200{margin-left: 200px;}
.opa-0{opacity: 0;}
.f-w-700{font-weight: 700;}
.line-h-14{line-height: 14px;}
.line-h-16{line-height: 16px;}
.line-h-17{line-height: 17px;}
.line-h-18{line-height: 18px;}
.line-h-22{line-height: 22px;}
.line-h-24{line-height: 24px;}
.line-h-28{line-height: 28px;}
.line-h-33{line-height: 33px;}
.family-avs{font-family: "Arial","Verdana","宋体"}
.radius-4{border-radius:4px}
.shadow-rbv2{-webkit-box-shadow: 1px 1px 1px;-moz-box-shadow: 1px 1px 1px;box-shadow: 1px 1px 1px}
.shadow-mainnavbv1{-webkit-box-shadow: 0px 2px 0px;-moz-box-shadow: 0px 2px 0px;box-shadow: 0px 2px 0px}
.shadow-mainnavbv2{-webkit-box-shadow: 1px 2px 1px;-moz-box-shadow: 1px 2px 1px;box-shadow: 1px 2px 1px}
.shadow-mainnavbv3{-webkit-box-shadow: 0px 2px 2px;-moz-box-shadow: 0px 2px 2px;box-shadow: 0px 2px 2px}
.shadow-logobox{-webkit-box-shadow: 0 -12px 10px rgba(0,0,0,.2);-moz-box-shadow: 0 -12px 10px rgba(0,0,0,.2);box-shadow: 0 -12px 10px rgba(0,0,0,.2)}
.shadow-majorsupernatant{-webkit-box-shadow: 2px 0px 5px rgba(0,0,0,.3);-moz-box-shadow: 2px 0px 5px rgba(0,0,0,.3);box-shadow: 2px 0px 5px rgba(0,0,0,.3);}
.navtriangle-up {width: 0;height: 0;border-left: 5px solid #e4e4e4;border-right: 5px solid #e4e4e4;border-bottom: 5px solid #fff;}
.navtriangle-upv2 {width: 0;height: 0;border-left: 5px solid #e4e4e4;border-right: 5px solid #e4e4e4;border-bottom: 5px solid #f6f6f6;}
.bgimgmainnavicov1{background: url(../../img/JD/main-header/mainnavicov1.png) 0px 0px no-repeat;}
.bgimgmainnavicov2{background: url(../../img/JD/main-header/mainnavicov1.png) 0px -26px no-repeat}
.bgimgmainnavicov3{background: url(../../img/JD/main-header/mainnavicov1.png) 0px -52px no-repeat;}
.spr-photo-searv1{background: url(../../img/JD/main-header/sprite-photo-search.png) 0px 0px no-repeat;}
.spr-photo-searv1:hover{background: url(../../img/JD/main-header/sprite-photo-search.png) -30px 0px no-repeat;}
.bg-banner-text-left{background: url(../../img/JD/main-header/float-text-hotbg.png) 0px 0px no-repeat;}
.bg-banner-text-right{background: url(../../img/JD/main-header/float-text-hotbg.png) -5px 0px no-repeat;}
.mainnavrightselect{color: white;background: #f10215;}
.mainnavrightnoselect:hover{color: #c81623;background: #f4f4f4;}
/* 主要展示中部展示banner导航 */
#main-banner-swiper-button-prev{
  left: 0px;
  width: 30px;
  height: 60px;
  top: 50%;
  background: url(../../img/JD/main-banner/main-banner-left.png) no-repeat;
  background-color: rgba(0,0,0,0.1);
  display: none;
}
#main-banner-swiper-button-next{
  right: 0px;
  width: 30px;
  height: 60px;
  top: 50%;
  background: url(../../img/JD/main-banner/main-banner-right.png) no-repeat;
  background-color: rgba(0,0,0,0.1);
  display: none;
}
#main-banner-swiper-pagination{
  display: block;
  width: 182px;
  bottom: 20px;
  left: 50%;
  margin-left: -91px;
  padding: 4px 8px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
}
#main-banner-swiper-pagination .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 0px;
  opacity: 1;
  float: left;
}
#main-banner-swiper-pagination .swiper-pagination-bullet:last-child{
  margin-right: 0px;
}
#main-banner-swiper-pagination .swiper-pagination-bullet-active{
  background-color: #db192a;
}
/* 主要展示右侧部分css */
.bg-img-nouser{background: url(../../img/JD/main-banner/main-banner-right-bgv1.png) -70px 0px no-repeat;}
.main-major-right-buttonv1:hover{background-color: #e01222;color: white;}
.main-major-right-buttonv2:hover{background-color: #e01222;color: white;}
.w-48{width: 48px;}
.w-192{width: 192px;}
.ml--1{margin-left: -1px;}
.w-47{width: 47px;}
.pt-14{padding-top: 14px;}
.w-13{width: 13px;}
.bg-text-small-scale{background: url(../../img/JD/main-banner/main-text-small-scalev2.png) no-repeat;}
.bg-main-banner-right-bgv2-tipsv1{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) 0px -88px no-repeat;}
.bg-main-banner-right-bgv2-tipsv2{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) 0px -44px no-repeat;}
.bg-main-banner-right-bgv2-tipsv3{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -44px -88px no-repeat;}
.bg-main-banner-right-bgv2-tipsv4{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -88px 0px no-repeat;}
.bg-main-banner-right-bgv2-tipsv5{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -88px -44px no-repeat;}
.bg-main-banner-right-bgv2-tipsv6{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) 0px 0px no-repeat;}
.bg-main-banner-right-bgv2-tipsv7{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -44px -44px no-repeat;}
.bg-main-banner-right-bgv2-tipsv8{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -88px -88px no-repeat;}
.bg-main-banner-right-bgv2-tipsv9{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -132px 0px no-repeat;}
.bg-main-banner-right-bgv2-tipsv10{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -132px -44px no-repeat;}
.bg-main-banner-right-bgv2-tipsv11{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -132px -88px no-repeat;}
.bg-main-banner-right-bgv2-tipsv12{background: url(../../img/JD/main-banner/main-banner-right-bgv2.png) -44px 0px no-repeat;}
.bg-main-banner-right-bgv3{background: url(../../img/JD/main-banner/main-banner-right-bgv3.png) no-repeat;}
.bg-main-banner-right-bgv4{background: url(../../img/JD/main-banner/main-banner-right-bgv4.png) no-repeat; background-size: 100% 100%;}
.sha-main-banner-right-errorsha{box-shadow: 0 0 5px #ccc;}
.main-banner-right-form1-error-mag label{color: #da1616;}



