 @charset"utf-8";
@media (max-width:1300px) {
  .container {width: 990px}
  .navigation{width: 990px}
  .container-tipsv1{width:27.28%;}
  .container-tipsv2{width:72.72%;}
  .container-tipsv1tips{width:33.33333%;}
  .container-tipsv2tips{width:50%;}
  .searchinputbox{width: 350px;}
  .w-790-590{width: 590px;}
  .w-550-400{width: 400px;}
  .w-500-350{width: 350px;}
  .w-190-150{width: 150px;}
  .w-800-600{width: 600px;}
  .w-1000-800{width: 800px;}
  .dis-1299{display: none;}
}
@media (min-width:1300px) {
  .container {width: 1190px}
  .navigation{width: 1190px}
  .container-tipsv1{width:30.77%;}
  .container-tipsv2{width:69.23%;}
  .container-tipsv1tips{width:25%;}
  .container-tipsv2tips{width:33.33333%;}
  .w-790-590{width: 790px;}
  .w-550-400{width: 550px;}
  .w-500-350{width: 500px;}
  .w-190-150{width: 190px;}
  .w-800-600{width: 800px;}
  .w-1000-800{width: 1000px;}
}
@media print {
  .container {width: auto}
}
a:hover{text-decoration: none};
.col-E3E4E5{color:#E3E4E5;}
.col-c81623{color: #c81623;}
.col-f10214{color: #f10214 !important;}
.col-f10215{color: #f10215 !important;}
.col-555{color: #555 !important; }
.col-666{color: #666 !important; }
.bg-E3E4E5{background: #E3E4E5;}
.bg-f6f0f0{background-color: #f6f0f0;}
.bg-f6f6f6{background-color: #f6f6f6;}
.bg-f7f7f7{background-color: #f7f7f7;}
.bg-f10215{background-color: #f10215;}
.bg-6E6568{background-color: #6E6568;}
.bg-5c5251{background-color: #5c5251;}
.bor-none{border: none;}
.bor-col-ddd{border-color: #ddd !important}
.bor-col-eee{border-color: #eee !important}
.bor-col-fff{border-color: #fff !important}
.bor-col-e0e0e0{border-color: #e0e0e0 !important}
.bor-col-e3e4e5{border-color: #e3e4e5 !important}
.bor-col-cfcfcf{border-color: #cfcfcf !important}
.bor-col-e7e7e7{border-color: #e7e7e7 !important}
.bor-col-f7f7f7{border-color: #f7f7f7 !important}
.bor-col-f10215{border-color: #f10215 !important}
.bor-col-db7078{border-color: #db7078 !important}
.hov-c81623:hover{color:#c81623 !important; cursor: pointer;}
.hov-c81623:hover i{color:#c81623 !important;}
.hov-bg-5c5251:hover{background-color: #5c5251 !important;}
.img-12{width: 12px;height: 12px;}
.img-15{width: 15px;height: 15px;}
.img-16{width: 16px;height: 16px;}
.img-70{width: 70px;height: 70px;}
.t-9{top: 9px;}
.t-10{top: 10px;}
.t--12{top:-12px;}
.t-29{top: 29px;}
.t-30{top: 30px;}
.t--30{top: -30px;}
.t-34{top: 34px;}
.t-35{top: 35px;}
.r-15{right: 15px;}
.r--65{right:-65px;}
.r--70{right:-70px;}
.r-100{right:100px;}
.l-27{left: 27px;}
.l-31{left: 31px;}
.l--95{left: -95px;}
.l-154{left: 154px;}
.l-190{left: 190px;}
.l-200{left: 200px;}
.w-20s{width: 20%;}
.w-5{width: 5px;}
.w-14{width: 14px;}
.w-19{width: 19px;}
.w-50{width: 50px;}
.w-66{width: 66px;}
.w-70{width: 70px;}
.w-83{width: 83px;}
.w-168{width: 168px;}
.w-172{width: 172px;}
.w-190{width: 190px;}
.w-198{width: 198px;}
.w-280{width: 280px;}
.w-310{width: 310px;}
.w-322{width: 322px;}
.w-500{width: 500px;}
.w-550{width: 550px;}
.w-790{width: 790px;}
.h-14{height: 14px;}
.h-16{height: 16px;}
.h-17{height: 17px;}
.h-24{height: 24px;}
.h-28{height: 28px;}
.h-70{height: 70px;}
.h-134{height: 134px;}
.h-480{height: 480px;}
.min-h-480{min-height: 480px;}
.pl-12{padding-left: 12px;}
.pl-80{padding-left: 80px;}
.pt-16{padding-top: 16px;}
.pb-16{padding-bottom: 16px;}
.ml-200{margin-left: 200px;}
.opa-0{opacity: 0;}
.f-w-700{font-weight: 700;}
.line-h-14{line-height: 14px;}
.line-h-16{line-height: 16px;}
.line-h-17{line-height: 17px;}
.line-h-24{line-height: 24px;}
.line-h-28{line-height: 28px;}
.line-h-33{line-height: 33px;}
.shadow-rbv2{-webkit-box-shadow: 1px 1px 1px;-moz-box-shadow: 1px 1px 1px;box-shadow: 1px 1px 1px}
.shadow-mainnavbv1{-webkit-box-shadow: 0px 2px 0px;-moz-box-shadow: 0px 2px 0px;box-shadow: 0px 2px 0px}
.shadow-mainnavbv2{-webkit-box-shadow: 1px 2px 1px;-moz-box-shadow: 1px 2px 1px;box-shadow: 1px 2px 1px}
.shadow-mainnavbv3{-webkit-box-shadow: 0px 2px 2px;-moz-box-shadow: 0px 2px 2px;box-shadow: 0px 2px 2px}
.shadow-logobox{-webkit-box-shadow: 0 -12px 10px rgba(0,0,0,.2);-moz-box-shadow: 0 -12px 10px rgba(0,0,0,.2);box-shadow: 0 -12px 10px rgba(0,0,0,.2)}
.shadow-majorsupernatant{-webkit-box-shadow: 2px 0px 5px rgba(0,0,0,.3);-moz-box-shadow: 2px 0px 5px rgba(0,0,0,.3);box-shadow: 2px 0px 5px rgba(0,0,0,.3);}
.navtriangle-up {width: 0;height: 0;border-left: 5px solid #e4e4e4;border-right: 5px solid #e4e4e4;border-bottom: 5px solid #fff;}
.navtriangle-upv2 {width: 0;height: 0;border-left: 5px solid #e4e4e4;border-right: 5px solid #e4e4e4;border-bottom: 5px solid #f6f6f6;}
.bgimgmainnavicov1{background: url(../../img/JD/mainnavicov1.png) 0px 0px no-repeat;}
.bgimgmainnavicov2{background: url(../../img/JD/mainnavicov1.png) 0px -26px no-repeat}
.bgimgmainnavicov3{background: url(../../img/JD/mainnavicov1.png) 0px -52px no-repeat;}
.spr-photo-searv1{background: url(../../img/JD/sprite-photo-search.png) 0px 0px no-repeat;}
.spr-photo-searv1:hover{background: url(../../img/JD/sprite-photo-search.png) -30px 0px no-repeat;}
.bg-banner-text-left{background: url(../../img/JD/float-text-hotbg.png) 0px 0px no-repeat;}
.bg-banner-text-right{background: url(../../img/JD/float-text-hotbg.png) -5px 0px no-repeat;}
.mainnavrightselect{color: white;background: #f10215;}
.mainnavrightnoselect:hover{color: #c81623;background: #f4f4f4;}


